@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap");
@import /Users/cyriellechasles/Documents/DW_P3/css/desktop.css screen and (min-width: 992px);
@import /Users/cyriellechasles/Documents/DW_P3/css/tablet.css screen and (max-width: 992px);
@import /Users/cyriellechasles/Documents/DW_P3/css/mobile.css screen and (max-width: 768px);
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.bouton {
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
}

.bouton:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

header i {
  position: absolute;
  left: 30px;
}

header img {
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .hidden {
  display: none;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
}

.localisation i {
  margin-right: 10px;
}

.explication {
  background-color: #F6F6F6;
  padding: 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.explication h2 {
  margin: 0;
}

.explication p {
  margin-bottom: 30px;
}

.fonctionnement {
  padding: 0 5%;
}

.fonctionnement p:nth-child(1) {
  margin-left: -25px;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 5px 10px;
  color: #ffffff;
}

.fonctionnement i {
  margin: 0 30px;
  color: #7E7E7E;
}

.fonctionnement p:nth-child(3) {
  font-weight: 700;
}

.carte_fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  padding: 10px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.carte_fonctionnement:hover {
  background-color: #F5EDFF;
}

.carte_fonctionnement:hover i {
  color: #9356DC;
}

.liste_restaurants {
  padding: 5%;
  background-color: #F6F6F6;
}

.carte_restaurant {
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.carte_restaurant img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carte_restaurant a {
  color: #000000;
  text-decoration: none;
}

.restaurant_photo {
  position: relative;
}

.restaurant_photo span {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 5px 10px;
  color: #008766;
  border-radius: 3px;
  font-size: 0.8em;
  display: none;
}

.nouveau_restaurant span {
  display: inline;
}

.restaurant_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.restaurant_description h3, .restaurant_description p {
  margin: 0;
}

footer {
  background-color: #353535;
  padding: 8%;
}

footer ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  line-height: 2;
}

footer img {
  width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer i {
  margin-right: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.menu_restaurant {
  position: relative;
}

.restaurant_hero img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant_contenu_menu {
  position: relative;
  top: -50px;
  background-color: #F6F6F6;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 30px;
}

.restaurant_contenu_menu h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

.restaurant_contenu_menu:hover .item_checked {
  width: 15%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.restaurant_contenu_menu:hover i {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu_titre {
  padding: 15px 30px 0 30px;
  font-family: 'Shrikhand', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_bloc {
  padding: 0 30px;
}

.item_menu {
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.item_menu p, .item_menu h4 {
  margin: 5px;
}

.item_desc {
  width: 100%;
  padding: 10px;
}

.item_checked {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.item_checked i {
  color: #ffffff;
  -webkit-transform: rotate(-359deg);
          transform: rotate(-359deg);
  -webkit-transition: -webkit-transform 700ms ease-in-out;
  transition: -webkit-transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out;
  transition: transform 700ms ease-in-out, -webkit-transform 700ms ease-in-out;
  opacity: 0;
}

.item_desc_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */