@media screen and (min-width: 1050px) {
    
    body {
        background: #ffffff;
    }

    .steps_card {
        margin-bottom: 0;
    }
    
    .steps_column_cards {
        display: flex;
        justify-content: space-around;
    }

    .restaurants {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background-color: #ffffff;
    }

    .restaurants_column_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .restaurant_card {
            width: 430px;
            margin-right: 40px;
        }
    }

    .steps {
        max-width: 1200px;
        margin: auto;
        i {
            margin: 0 15px;
        }
        h2 {
            text-align: center;
        }
    }
    
    .menu_item {
        width: 300px;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        ul {
            display: flex;
            li {
                margin-right: 45px;
            }
        }
    }
}